{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
<header>
<section>
    <h2>présentation</h2>
    <p>Bienvenu sur findasenne votre site d'anuaire de référence en terme mise en relation <ion-icon name="musical-note"></ion-icon>
    <br>
vous etes un artiste ou groupe en quete de salle affin de vous promouvoire en france alors bienvenu chez vous.
<br>
organisateur de festival booker tourneur notre bute et de vous rendre votre métier pationnant et pour que se qui était une avanture plenne de casse tete et d'embuche avant vous soit accèsible au bout de dois</p>
</section>
</header>
    @todo Mettre la navbar dans la Base !

{% endblock %}
