{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

<main>


<div class="flex-top">

        
             <h2 id="welcome">Bienvenue sur <span class="findascene">FindAScene</span> !</h2>
                 <h4 id="welcome-subtitle">Trouvez le lieu de votre prochain concert! </h4>
<!-- Search bar -->     
    <nav class="searchBar">
    <form id="search">
        <input type="search" name="query" class="searchInput" placeholder="Nom d'une ville..." aria-label="Search">
          <button type="submit" class="searchBtn">Trouver rapidement une salle...</button>
    </form>
      </nav>
    <section class="section-one">
        <article class="mainArt first">
            <div class="mainText">
                <a href="#"><h3>Trouve ta scène !</h3></a>
                <p>Vous etes un artiste ou groupe en quete de salle afin de vous promouvoir en france ? 
                <br>Vous êtes au bon endroit ! 
                <br>Trouvez la salle de vos rêves dans la ville de votre choix en quelques clics !</p>
            </div>
            <img class="mainImage" src="{{ asset('img/stadedefrance.jpg') }}" alt="Musicien sur scène" />
        </article>
        <article class="mainArt second">
            <div class="mainText">
                <a href="#"><h3>Fais jouer des artistes !</h3></a>
                <p>Organisateur de festival, booker, <br>
                propriétaire d'une salle ou tourneur à la recherche d'artistes à produire sur scène, <br>
                vos prises de contacts n'ont jamais été aussi faciles avec FindAScene !  </p>
            </div>
            <img class="mainImage"  src="{{ asset('img/pianiste.jpg') }}" alt="Musicien sur scène" />
        </article>
        <article class="mainArt third">
            <div class="mainText">
                <a href="#"><h3>Faites-vous connaître !</h3></a>
                <p>Placez vous au devant de la scène et mettez en valeur vos atouts en étoffant votre liste de contact !
                <br>Gagnez en visibilité et en notoriété et fidelisez vos spectateurs !</p>
            </div>
            <img class="mainImage" src="{{ asset('img/Musicien.jpg') }}" alt="Musicien sur scène" />
        </article>
    </section>
    
<!-- ////////////////// HTML AJOUTE OUSMANE ///////////// -->
  
</main>


    <script src="/public/leaflet/leaflet.js"></script>
     <script src="/public/jquery/jquery-3.4.1.min.js"></script> 
    <script src="/public/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

{% endblock %}
