{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
<header>
<section>
<h1>FindASenne votre show au bout des doit</h1>

<h1>findasenne l'anuaire de référence de vos évennement</h1>
        <nav id="menu">
       
       <ul>
           <li>
               <a href="#">accueil</a>
           </li>
           
           <li>
               <a href="#">conection</a>
           </li>
           <li>
               <a href="#">s'inscrire</a>
           </li>
           <li>
               <a href="#">ListeDesSalle</a>
           </li>
           <li>
               <a href="#">contact</a>
           </li>

       
        </ul>
    </nav>

</section>

<section>
    <h2>présentation</h2>
    <p>Bienvenu sur findasenne votre site d'anuaire de référence en terme de mise en relation <ion-icon name="musical-note"></ion-icon>
    <br>
vous etes un artiste ou groupe en quete de salle affin de vous promouvoire en france alors bienvenu chez vous.
<br>
organisateur de festival booker tourneur notre bute et de vous rendre votre métier pationnant et pour que se qui était une avanture plenne de casse tete et d'embuche avant vous soit accèsible au bout de dois</p>
</section>
</header>
<main>
    <h2>liste des salle en veudete</h2>
<section>

<div id="galerie">
<ul>
<li>
<a href="#">salles du théatre "lille"</a>
  <img class="photo" src="https://via.placeholder.com/300" alt="image1">
<p>notre salle vous acueil pour vos représentation dans la métropol lilloise.
<br>
parfaitement situé au centre de lille, proche des transport en comain notre salle sera une alternative parfaite pour vos représentation de moin de 500 personne</p>
</li>
<li>
<a href="#">salle de la renaissance "villeNeuveD'asque"</a>
        <img class="photo" src="https://via.placeholder.com/300" alt="image1">
<p>
salle spacieuse et lumineuse la salle de la renaissance est faite pour vous si bou eêtes un groupe désireu d'intégré la métropole lilloise a votre calendrier de tourné</p></li>
<li>
<a href="#">le prestige  "lion"</a>
        <img class="photo" src="https://via.placeholder.com/300" alt="image1">
<p>
votre boite de nuit le club le prestige vous acueil pour vos showCase.
<br>
notre clientaille est jeunes est aime s'embienser sur des son pop et tendence que notre dj (s) se fai plaisire d'embiencer chaque weekend</p>
</li>
<li>
<a href="#">la cavalerie "marseille"</a>
        <img class="photo" src="https://via.placeholder.com/300" alt="image1">
<p>
le caffé théatre la cavalerie d'une capassité d'acueil de 300 personne vous resoi pour vo représentation sur marseille</p>
</li>
<li>
<a href="#">le zénite "paris"</a>
        <img class="photo" src="https://via.placeholder.com/300" alt="image1">
<p>
Faite comme toute les plus grand start mondiaux que notre établissement a eu la joie d'acueillir jusqu'a aujourdui et choisesser notre salle pour vos concert sur paris</p>
</li>
<li>
<a href="#">chez régine "paris</a>
        <img class="photo" src="https://via.placeholder.com/300" alt="image1">
<p>
showCase, prestationthéatrale ou toute représentation artistique chez régine se fera un plaisire de promouvoir votre incroyable talent</p>
</li>
<li>
<a href="#">olimpia "srtasbourg</a>
        <img class="photo" src="https://via.placeholder.com/300" alt="image1">
<p>
après avoir accueilli les plus grand du milieu l'olimpia vous invite a suivre leur exemple et a faire vibrer votre publique  dans l'embience la plus magistral quil soit dans notre établissement de capassité d'acueil élever</p>
</li>
</ul>
</div>
</section>
</section>
</main>
<div></div>
    <div id="galerie2">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
@todo Mettre la navbar dans la Base !

{% endblock %}
