
form{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50em;
    border: 1px solid black;
    box-shadow: 1px 1px 3px black;
    padding-left: 1em;
    margin: 2em;
    font-size: small;

}
.form-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

/* Inputs séparés */
#salles_nom_salle{
    width: 300px;
    
}
#salles_nom_ref{
    background-color: khaki;
    width: 300px;
}
#salles_ville{
    width: 300px;
}
#salles_adresse{
    background-color: khaki;
    width: 300px;
}
#salles_mail{
    width: 300px;
}
#salles_tel{
    background-color: khaki;
    width: 300px;
}
#salles_capacite{
    width: 300px;
}
#salles_categorie{
    background-color: khaki;
    width: 300px;
}
#salles_backline{
    width: 300px;
}
#salles_description{
    background-color: khaki;
    width: 30em;
}




