
form{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    box-shadow: 1px 1px 3px black;
    padding: 2em 4em;
    margin: 2em;
    font-size: small;

}
.form-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

/* Inputs séparés */
#salles_nom_ref{
    background-color: khaki;
}
#salles_adresse{
    background-color: khaki;
}
#salles_tel{
    background-color: khaki;
}
#salles_categorie{
    background-color: khaki;
}
#salles_description{
    background-color: khaki;
}




