{% extends 'base.html.twig' %}

{% block title %}Details de la salle {{salle.nomSalle}} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
<form id="search">
    <input type="search" name="query">
</form>

<div id="map">
    <ul style="list-style-type: decimal;" id="result">

    </ul>    
</div>
       @Todo mettre en page 
    </div>
{% endblock %}
