{% extends 'base.html.twig' %}

{% block title %}S'inscrire sur le site - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-success">Ajouter ce groupe</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
