{% extends 'base.html.twig' %}

{% block title %}Details de la salle {{musiciens.slug}} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
       @Todo mettre en page 
    </div>
{% endblock %}
