{% extends 'base.html.twig' %}

{% block title %}Profil {{user.username}} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container my-5">
        <div class="card shadow p-4">
            <h1>Bonjour {{user.username}}</h1>

            <a href="{{ path('profil_musiciens') }}">Modifier mon profil</a>
        </div>
    </div>
{% endblock %}
