{% extends 'base.html.twig' %}

{% block title %}Profil {{musicien.username}} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        Votre profil {{musicien.username}}
       @Todo mettre en page 
    </div>
{% endblock %}
